[Unit]
Description=NeoFLX OPCUA Server
After=neoflx-base.service

[Service]
EnvironmentFile=/NeoFLX/system/environment
ExecStart=/NeoFLX/usr/bin/fopcua
Restart=always

[Install]
WantedBy=multi-user.target
